.full{width: 100%;display: inline-block;position: relative;}
.courses-options{padding: 70px 15px;width: 100%;display: inline-block;border-radius: 4px;background: #2196f3 }
.courses-options .title{text-align: center;font-weight: 600;color:#fff;font-size: 20px}

/* Checkbox customize css */
.courses-options-box {display: block;position: relative;margin-bottom: 12px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.courses-options-box input {position: absolute;opacity: 0;cursor: pointer;height: 20px;width: 20px;top:50%;right: 15px;transform: translateY(-50%);-webkit-transform: translateY(-50%)}
.checkmark {position: absolute;top: 15px;right: 15px;height: 20px;width: 20px;border:2px solid #eee;background: #fff;}
.checkmark.disabled{pointer-events: none;}
.courses-options-box input:checked ~ .checkmark {background-color: #2196F3;}
.checkmark:after {content: "";position: absolute;display: none;}
.courses-options-box input:checked ~ .checkmark:after {display: block;}
.courses-options-box .checkmark:after {left: 5px;top: 0px;width:7px;height:13px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}


/* basic information css */
.section-stpes{width: 100%;float: left;}
.section-stpes ul{margin-bottom: 0;padding: 0;list-style: none;}
.section-stpes ul li{width: 100%;float: left;margin-bottom: 1px}
.section-stpes .basic-informations{padding-bottom: 25px}
.sec-title-wrapper{width: 100%;float: left;margin-bottom: 15px;}
.sec-title-wrapper .sec-title{font-size: 18px;font-weight: 600;text-align: center;}
.sec-title-wrapper p{text-align: center;}
.section-stpes .basic-informations, .border-info-form{width:100%;float: left;}
.section-stpes .basic-informations .basic-info-form label{display: inline-block;margin-bottom: 3px;}

.section-stpes .form-group{margin-top: 0 !important;}
.section-stpes .form-group select{color:#aaaaaa;width: 100% !important}

.courses-selection-wrapper{width: 100%;float: left;margin-bottom: 15px;position: relative;}
.courses-selection-wrapper .select2-container[style]{width: 100% !important;float: left;}
.select2-results__option:hover span a{color:#fff !important}
.select2-results__option span a{color:#00234d !important}
.form-details{width: 100%;float: left;}
.form-details .panel-title{width: 100%;float: left;background: #007fff;color:#fff; padding: 6px 10px;line-height: 24px;font-weight: 600}
.form-details .panel-title i{float: right;line-height: 24px;}
.information{padding: 12px;padding-bottom: 0; border:1px solid #e3e3e3;display: none;float: left;}
.information ul li{display: inline-block;width: 100%;padding: 8px 10px;background: #f5f5f5;border-bottom: 1px solid #dedede;}
.information ul li:nth-child(even){background: #f2f2f2}
.information ul li span{font-weight: 600;display: inline-block;padding-right: 3px;}
.select2-container--default .select2-selection--multiple{border-radius: 0 !important; border:1px solid #e3e3e3 !important;padding: 3px 5px !important}
.select2-container--default .select2-selection--multiple .select2-selection__choice{background: #007fff !important;color:#fff !important;border:0 !important;border-radius: 0 !important;padding: 4px !important}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color:#fff!important;}
.select2-container .select2-search--inline .select2-search__field{margin-top: 8px !important}
.select2-search__field[style]{width: 100% !important}

.tab-pane .nav-tabs{width: 100%;padding-left: 0;display: flex;margin-bottom: 0;}
.tab-pane .nav-tabs li{display: flex;flex-grow: 1;width: auto !important; }
.tab-pane .nav-tabs li a{width: 100%;font-size: 14px;font-weight: 600;position: relative;display: block;padding: 10px 15px;border-radius: 0px;margin:0 auto;color:#555;background: #fff;border: 1px solid #ddd;border-collapse: collapse;}
.courses-tabs.nav-tabs>li.active>a, .courses-tabs.nav-tabs>li.active>a:focus, .courses-tabs.nav-tabs>li.active>a:hover{color: #fff;background:#009fff;border-bottom-color:transparent;}
.tab-pane .tab-content{width: 100%;float: left;}
.tab-pane .wrapper{width: 100%;float: left;border:1px solid #e4e7ea;border-top:0;padding: 15px;}
.pd-0{padding: 0!important}

.chat-button{display: inline-block;position: fixed;right: -37px;transform: rotate(90deg);top: 50%;}
.new-radio{display:block;position:relative;padding-left:30px;margin-bottom:12px;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;float:left}
.new-radio input{position:absolute;opacity:0;cursor:pointer}
.new-radio .checkmark{position:absolute;top:0;left:0;height:22px;width:22px;background-color:#eee;border-radius:50%;border:solid 2px #cfcfcf}
.new-radio:hover input~.checkmark{background-color:#ccc}
.new-radio input:checked~.checkmark{background-color:#2196f3}
.new-radio .checkmark:after{content:"";position:absolute;display:none}
.new-radio input:checked~.checkmark:after{display:block}
.new-radio .checkmark:after{top:5px;left:5px;width:8px;height:8px;border-radius:50%;background:#fff}
.auto-width{float:left;width:auto;padding:5px}


label.error{margin:0 !important; padding: 0!important; font-size: 14px;color:red !important;position: absolute !important;z-index: 1; bottom:10px !important;font-weight: 600;right:0px;width: auto;text-align: right;}
label.custom-error{padding: 0!important; font-size: 14px;color:red !important;font-weight: 600;width:100%;float:left;right:0px;text-align: center;}
.courses-options-box label.error{right: 0;left: 0;text-align: center;}
.courses-options-box > label.control-label{top:-22px  !important;color: #009fff!important;font-size: 11px !important;font-weight: bold !important}
input.error, .steps-form-wrapper select.error, .steps-form-wrapper textarea.error{border-color:red !important;}



/* flex courses css */
.backpack-notice .notice {margin: 1rem 2rem 0 2rem;}
.notice-wrapper{border: 1px solid #4b91e6;background-color: #cef2ff;padding: 1rem;margin: 2rem 0;text-align: center;}
.notice-wrapper span{font-weight: 600;line-height: 24px;}
.add-course-wrapper{width: 100%;display: inline-block;padding: 12px 0;text-align: right;position:relative;}
.add-course-wrapper h4{position:relative;width:100%;float:left;}
.add-course-wrapper h4 .add-course-btn{display: inline-block;padding: 12px 24px;margin-bottom: 18px; background: #4b91e6;color:#fff;font-size: 16px;border-radius: 4px;position:absolute;right:0;top:0;}

.course-wrapper, .course-item{width: 100%;display: block;justify-content: center;}
.course-wrapper .course-item{border:1px solid #e3e3e3;width: 100%;display: inline-block;margin-bottom: 24px;}
.course-wrapper .course-item .course-head{background-color: #4b91e6;width: 100%;display: inline-block;position: relative;}
.course-wrapper .course-item .course-head .course-name{font-size: 20px;font-weight: 600;color:#fff;padding: 10px;padding-right: 40px;display: inline-block;}
.course-wrapper .course-item .course-head .remove-course{position: absolute;right: 10px;top:10px;color:#fff;font-size: 18px;}
.course-wrapper .course-item .course-head .remove-course i{color:#fff;cursor: pointer;}
.course-wrapper .course-item .course-head .remove-course:hover > i{color:red;}

.course-wrapper .course-item .course-requirement{width: 100%;display: inline-block;padding: 12px 8px;background: #f5f9ff}
.course-wrapper .course-item .course-requirement ul{padding: 0;margin: 0;}
.course-wrapper .course-item .course-requirement ul li{display: flex;padding: 2px 0px;}
.course-wrapper .course-item .course-requirement ul li .key{flex-basis: 45%;flex-grow: 0;flex-shrink: 0;font-weight: 600;font-size: 16px;}
.course-wrapper .course-item .course-requirement ul li .value{font-weight: 400;font-size: 16px;color:#2e2e2e;}


.course-list-wrapper{width: 100%;display: inline-block;}
.course-list-wrapper .tab-wrapper{width: 100%;display: flex;justify-content: space-between;}
.course-list-wrapper .tab-wrapper .tabs{display: flex;}
.course-list-wrapper .nav-tabs .nav-item{flex-grow: inherit;}
.course-list-wrapper .nav-tabs>li:first-child a{border-right:0;}
.course-list-wrapper .nav-tabs>li a{padding: 10px 30px !important;font-size: 18px;font-weight: 400 !important;border-bottom: 0;}
.course-list-wrapper .nav-tabs>li.active, .course-list-wrapper .nav-tabs>li.active>a{background: #4b91e6 !important;color:#fff !important;}
.course-list-wrapper .tab-wrapper .search-and-add-to-cart{display: flex;}
.course-list-wrapper .tab-wrapper .search-and-add-to-cart .search-bar{display: inline-block;position: relative;font-size: 18px;margin-right: 12px;min-width: 250px;}
.course-list-wrapper .tab-wrapper .search-and-add-to-cart .search-bar .select2{width: 100% !important;}
.course-list-wrapper .tab-wrapper .search-and-add-to-cart .search-bar .selection > .select2-selection--single{height: auto !important;padding: 9px;border-color:#ddd !important;border-bottom:none !important;border-radius: 0 !important}
.course-list-wrapper .tab-wrapper .search-and-add-to-cart .search-bar .select2-selection__arrow{top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-moz-transform: translateY(-50%)}
.course-list-wrapper .tab-wrapper .search-and-add-to-cart .search-bar input{display: inline-block;padding: 12px;font-size: 14px; padding-right: 30px;border-radius: 0;border:1px solid #e3e3e3;border-bottom: 0;}
.course-list-wrapper .tab-wrapper .search-and-add-to-cart .search-bar i{position: absolute;top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%); right: 20px;}
.course-list-wrapper .tab-wrapper .search-and-add-to-cart .search-bar .serach-course-option{min-width: 250px; width: 100%;float: left;position: absolute;left: 0;top:100%;list-style: none;margin: 0;padding: 0;background: #fff;box-shadow: 0px 0px 3px 3px rgba(209, 209, 209, 0.3);display:none}
.course-list-wrapper .tab-wrapper .search-and-add-to-cart .search-bar .serach-course-option .course-option-item{width: 100%;float: left;padding: 10px 12px;border-bottom:1px solid #e3e3e3;cursor: pointer;font-size: 16px;font-weight: 600;}
.course-list-wrapper .tab-wrapper .search-and-add-to-cart .add-to-cart{display: inline-block;border:1px solid #4b91e6;background: #4b91e6;color:#fff;padding: 12px 24px;font-weight: 600;border-bottom: 0;}
.course-list-wrapper .tab-wrapper .search-and-add-to-cart .add-to-cart.disable-go-to-cart-btn{cursor:not-allowed;opacity:0.5;}

.course-list-wrapper .tab-content{border: 1px solid #e3e3e3;}
.course-list-wrapper .tab-content .notice-wrapper{margin: 0 !important}

.courses-categories-wrapper{width: 100%;display: inline-block;}
.courses-categories-wrapper .courses-categories{width: 100%;display: inline-block;}
.courses-categories-wrapper .courses-categories .category-title{width: 100%;display: inline-block;border: 2px solid #4b91e6;padding: 4px;margin: 20px 0;}
.courses-categories-wrapper .courses-categories .category-title span{display: inline-block;padding: 12px 30px;background:#4b91e6;color:#fff;font-size: 22px;font-weight: 400;width: 100%; text-transform: uppercase;}

/*.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item{border:1px solid #e3e3e3;}*/
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item .list{border: 1px solid #e3e3e3;background: #fff;box-shadow: 0 0 20px 0 rgba(0,0,0,.1);}
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item .subject-title{display:flex;align-items: center; font-size: 18px;font-weight: 400;background: #4b91e6;color:#fff;text-transform: uppercase;padding:0px 12px;line-height: 20px;min-height: 48px;}
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item ul.courses{margin: 0;padding: 0;list-style: none;}
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item ul.courses li{border-bottom:1px dashed #e3e3e3;list-style: none;}
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item ul.courses li:last-child{border-color: transparent !important;}
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item ul.courses li a{display:flex;align-items: center; width: 100%;padding:0px 12px;color:#4b91e6;font-weight: 400;font-size: 16px;line-height: 20px;min-height: 47px;padding-right:26px;}
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item ul.courses li a i{padding-right: 5px;}
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item ul.courses li a.selected-course{background: #3c860a;color:#fff;position:relative}
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item ul.courses li a.selected-course:after{content:'\f00c';position:absolute;right:6px;top:15px;font-family:FontAwesome;color:#fff}
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item ul.courses li:hover a.selected-course{color:#fff !important;}
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item ul.courses li:hover{background: #f8fdff}
.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item ul.courses li a:hover{color:#4b91e6;}




.flex-courses-wrapper{width: 100%;display: inline-block;padding-top: 20px}
.flex-courses-wrapper .heading-setion{width: 100%;display:inline-block;margin-bottom: 20px;}
.flex-courses-wrapper .heading-setion .flex-heading{width: 100%;float: left;font-weight: 600;text-transform: uppercase;font-size: 38px;color: rgba(0,0,0, 0.87);line-height: 38px;}
.flex-courses-wrapper .heading-setion .flex-subtitle{width: 100%;float: left;font-weight: 600; text-transform: uppercase;font-size: 26px;color:#437fff;margin: 0;}
.flex-courses-wrapper .heading-setion .flex-subtitle span:not(:last-child){display: inline-block; padding-right: 6px;border-right: 2px solid #437fff;line-height: 26px;}
.flex-courses-wrapper p, .flex-courses-wrapper li, .flex-courses-wrapper a{font-size: 16px;font-weight: 400;}
.flex-courses-wrapper .flex-shape-img{width: 100%;}
.flex-courses-wrapper .full-time-course{padding:25px 15px;width: 100%;display: inline-block;color:#fff;background: #437fff;margin-top: 12px;border-radius: 6px;}
.flex-courses-wrapper .full-time-course button{margin-bottom: 0px;background: #fff;color:#437fff;font-size: 16px;line-height: 16px;padding:12px 25px 11px 25px; }
.sec-title{font-size: 24px;font-weight: 600;color: rgba(0,0,0, 0.87) !important;margin-bottom: 10px !important;}
.option-list{margin: 0;padding: 0;width: 100%;display: inline-block;list-style: none}
.option-list li{margin-bottom:10px;font-size: 18px;display: flex;}
.option-list li i{color:#4b91e6;padding-right: 5px;}


.register-flex-program{width: 100%;display: inline-block;margin-top: 20px;}
.register-flex-program .flex-course-steps{width: 100%;max-width: 550px;}
.register-flex-program ul{margin: 0;padding: 0;width: 100%;display: inline-block;list-style: none;counter-reset: step;}
.register-flex-program ul li{display: flex;width: 100%;position: relative;}
.register-flex-program ul li .count{display: inline-block;position: relative; margin-right: 20px;margin-bottom: 25px;}
.register-flex-program ul li .count:before{content: counter(step);counter-increment: step;width: 40px;height: 40px;line-height: 40px;color: #fff;background: #68bffa;border-radius: 50%;display: block;margin: 0 auto 0px;text-align: center;font-weight: 700;font-size: 24px;}
.register-flex-program ul li:not(:last-child) .count:after{content: "";position: absolute;left: 0;right: 0;top:97%;margin: 0 auto;width:10px;height: 100%; background:#6bdb9f;}
.register-flex-program ul li .content{flex: 1;display: inline-block;}
.register-flex-program ul li .content .register-title{font-size: 24px;line-height: 24px; margin-bottom: 0; color:#68bffa;font-weight: 600;}
.register-flex-program ul li .content p{font-size: 16px;font-weight: 400;}
.btn.continue-btn{font-size: 16px;}



.flex-course-disc-head{width: 100%; display:block;padding:15px 20px;background: #eff7ff;box-shadow: 1px 1px 6px 1px rgb(213, 225, 235); margin:20px auto;}
.flex-course-disc-head .course-name{margin-bottom: 5px;text-align: center;font-weight: 600;}
.flex-course-disc-head ul{list-style: none;width: 100%;display: inline-block;padding: 0;}
.flex-course-disc-head ul li{font-size: 16px;text-align: center;line-height: 24px;}
.flex-course-description {width: 100%;display: inline-block;}
.flex-course-description p{padding: 0 !important;line-height: 24px;}
.panel-group ul li span{word-break:break-word;}

/* media quiry css   */
@media (min-width: 990px){
	.courses-categories-wrapper .courses-categories .course-list-wrapper{display: grid;grid-gap:12px;grid-template-columns: repeat(3,1fr);padding: 0;margin-bottom: 10px;}
	.courses-categories-wrapper .courses-categories .course-list-wrapper.horizontal-list{grid-template-columns:repeat(1,1fr);}
	.courses-categories-wrapper .courses-categories .course-list-wrapper.horizontal-list .course-list-item ul.courses{padding: 15px;}
	.courses-categories-wrapper .courses-categories .course-list-wrapper.horizontal-list .course-list-item ul.courses li{border: 0 !important;margin-bottom: 12px;} 
	.courses-categories-wrapper .courses-categories .course-list-wrapper.horizontal-list .course-list-item ul.courses li a{border: 1px dashed #e3e3e3!important;} 
}
@media(max-width: 990px){
	.course-list-wrapper .tab-wrapper{display: inline-block;}
	.course-list-wrapper .nav-tabs {margin-bottom: 20px;}
	.course-list-wrapper .nav-tabs>li.active, .course-list-wrapper .nav-tabs>li.active>a{background: transparent !important;border-top:0 !important;border-right:0 !important;border-left:0 !important; border-bottom: 2px solid #4b91e6 !important; color:#4b91e6 !important;}
	.course-list-wrapper .nav-tabs>li, .course-list-wrapper .nav-tabs>li>a{background: transparent !important;border-top:0 !important;border-right:0 !important;border-left:0 !important; border-bottom: 2px solid #e3e3e3 !important; }
	.course-list-wrapper .nav-tabs .nav-item{flex-grow: 1;text-align: center;}
	.course-list-wrapper .tab-wrapper .search-and-add-to-cart{margin-bottom: 20px;}
	.course-list-wrapper .tab-wrapper .search-and-add-to-cart .search-bar{flex:1;margin-right: 12px;}
	.course-list-wrapper .tab-wrapper .search-and-add-to-cart .search-bar .selection > .select2-selection--single{border-bottom: 1px solid #ddd !important}
	.courses-categories-wrapper .courses-categories .course-list-wrapper .course-list-item .list{margin: 0.25rem 0;}
}

@media(max-width: 480px){
	.search-and-add-to-cart{display: inline-block !important;width: 100%;}
	.search-and-add-to-cart .search-bar, .course-list-wrapper .tab-wrapper .search-and-add-to-cart .add-to-cart{display: inline-block !important;width: 100%;margin-bottom: 20px;}
	.course-list-wrapper .tab-wrapper .search-and-add-to-cart .add-to-cart{margin-bottom: 0 !important}
}