body{margin:0;padding:0;width:100%}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,
canvas,caption,center,cite,code,command,datalist,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,
font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,
ol,output,p,pre,progress,q,s,samp,section,small,source,span,strike,strong,sub,sup,table,tbody,td,textarea,tfoot,th,thead,
tr,tt,u,ul,var,video{background:0 0;border:0 none;margin:0;padding:0;border:0;outline:0;vertical-align:top}
input{line-height:normal}button,input,optgroup,select,textarea{font:inherit;color:inherit;margin:0}
button,input{overflow:visible}button,select{text-transform:none}html input[type=button],input[type=reset],
input[type=submit]{-webkit-appearance:button;-moz-appearance:button;-ms-appearance:button;
-o-appearance:button;appearance:button;cursor:pointer}input[type=checkbox],input[type=radio]
{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;
-o-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-appearance:textfield;-ms-appearance:textfield;-o-appearance:textfield;
appearance:textfield}select[multiple],select[size]{height:auto}input[type=checkbox]:focus,input[type=file]:focus,
input[type=radio]:focus{outline:thin dotted;outline:6px auto -webkit-focus-ring-color outline-offset -3px}
*{text-decoration:none;margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.clear{clear:both}a{color:inherit;background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}h1{margin:14px 0}h1{font-size:30px;font-weight:lighter;line-height:24px}h2{font-size:24px;font-weight:lighter}h3{font-size:20px;font-weight:lighter}h4{font-size:16px;font-weight:lighter}h5{font-size:14px;font-weight:lighter}hr{border:0;border-top:1px solid #eee;margin:20px 0}.see-left{float:left!important}.see-right{float:right!important}.see-padding-0,.see-padding-0-hover:hover{padding:0!important}.see-padding-4,.see-padding-4-hover:hover{padding-top:4px!important;padding-bottom:4px!important}.see-padding-8,.see-padding-8-hover:hover{padding-top:8px!important;padding-bottom:8px!important}.see-padding-12,.see-padding-12-hover:hover{padding-top:12px!important;padding-bottom:12px!important}.see-padding-16,.see-padding-16-hover:hover{padding-top:16px!important;padding-bottom:16px!important}.see-padding-24,.see-padding-24-hover:hover{padding-top:24px!important;padding-bottom:24px!important}.see-padding-32,.see-padding-32-hover:hover{padding-top:32px!important;padding-bottom:32px!important}.see-padding-48,.see-padding-48-hover:hover{padding-top:48px!important;padding-bottom:48px!important}.see-padding-64,.see-padding-64-hover:hover{padding-top:64px!important;padding-bottom:64px!important}.see-margin{margin:12px!important}.see-margin-left-right{margin:0 12px!important}.see-margin-top-bottom{margin:12px 0!important}.see-margin-0{margin:0!important}.see-margin-top{margin-top:12px!important}.see-margin-bottom{margin-bottom:12px!important}.see-margin-left{margin-left:12px!important}.see-margin-right{margin-right:12px!important}.see-section{width:100%;float:left;box-sizing:border-box;position:relative}.see-full{width:100%;display:inline-block;position:relative;box-sizing:border-box}.see-center{float:none!important;margin:auto;display:table}.see-width{margin-right:auto;margin-left:auto;padding-left:10px;padding-right:10px}.see-1,.see-10,.see-11,.see-12,.see-2,.see-3,.see-4,.see-5,.see-6,.see-7,.see-8,.see-9,.see-ltb-1,.see-ltb-10,.see-ltb-11,.see-ltb-12,.see-ltb-2,.see-ltb-3,.see-ltb-4,.see-ltb-5,.see-ltb-6,.see-ltb-7,.see-ltb-8,.see-ltb-9,.see-sm-1,.see-sm-10,.see-sm-11,.see-sm-12,.see-sm-2,.see-sm-3,.see-sm-4,.see-sm-5,.see-sm-6,.see-sm-7,.see-sm-8,.see-sm-9,.see-tb-1,.see-tb-10,.see-tb-11,.see-tb-12,.see-tb-2,.see-tb-3,.see-tb-4,.see-tb-5,.see-tb-6,.see-tb-7,.see-tb-8,.see-tb-9,.see-xsm-1,.see-xsm-10,.see-xsm-11,.see-xsm-12,.see-xsm-2,.see-xsm-3,.see-xsm-4,.see-xsm-5,.see-xsm-6,.see-xsm-7,.see-xsm-8,.see-xsm-9{position:relative;min-height:1px;padding-left:10px;padding-right:10px;float:left}.see-xsm-12{width:100%}.see-xsm-11{width:91.66666667%}.see-xsm-10{width:83.33333333%}.see-xsm-9{width:75%}.see-xsm-8{width:66.66666667%}.see-xsm-7{width:58.33333333%}.see-xsm-6{width:50%}.see-xsm-5{width:41.66666667%}.see-xsm-4{width:33.33%}.see-xsm-3{width:25%}.see-xsm-2{width:16.66666667%}.see-xsm-1{width:8.33333333%}@media (min-width:480px){.see-sm-12{width:100%}.see-sm-11{width:91.66666667%}.see-sm-10{width:83.33333333%}.see-sm-9{width:75%}.see-sm-8{width:66.66666667%}.see-sm-7{width:58.33333333%}.see-sm-6{width:50%}.see-sm-5{width:41.66666667%}.see-sm-4{width:33.33%}.see-sm-3{width:25%}.see-sm-2{width:16.66666667%}.see-sm-1{width:8.33333333%}}@media (min-width:768px){.see-width{width:750px}.see-tb-12{width:100%}.see-tb-11{width:91.66666667%}.see-tb-10{width:83.33333333%}.see-tb-9{width:75%}.see-tb-8{width:66.66666667%}.see-tb-7{width:58.33333333%}.see-tb-6{width:50%}.see-tb-5{width:41.66666667%}.see-tb-4{width:33.33%}.see-tb-3{width:25%}.see-tb-2{width:16.66666667%}.see-tb-1{width:8.33333333%}}@media (min-width:992px){.see-width{width:970px}.see-ltb-12{width:100%}.see-ltb-11{width:91.66666667%}.see-ltb-10{width:83.33333333%}.see-ltb-9{width:75%}.see-ltb-8{width:66.66666667%}.see-ltb-7{width:58.33333333%}.see-ltb-6{width:50%}.see-ltb-5{width:41.66666667%}.see-ltb-4{width:33.33%}.see-ltb-3{width:25%}.see-ltb-2{width:16.66666667%}.see-ltb-1{width:8.33333333%}}@media (min-width:1200px){.see-width{width:1170px}.see-12{width:100%}.see-11{width:91.66666667%}.see-10{width:83.33333333%}.see-9{width:75%}.see-8{width:66.66666667%}.see-7{width:58.33333333%}.see-6{width:50%}.see-5{width:41.66666667%}.see-4{width:33.33%}.see-3{width:25%}.see-2{width:16.66666667%}.see-1{width:8.33333333%}}@media screen and (max-width:600px){.see-topnav a{display:block}.see-menu li:not(.see-opennav){float:none;width:100%!important}.see-menu li.see-right{float:none!important}.see-menu .see-dropdown-content,.see-menu .see-menu-dropdown .see-dropdown-content,.see-topnav .see-menu-dropdown .see-dropdown-content{position:relative}.see-menu,.see-topnav{text-align:center}}

body{padding:0;margin:0; font-family: 'Open Sans', sans-serif; font-size:16px;color:#666;overflow-x:hidden }
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
ul{list-style:none}
/* @font-face {
  font-family: 'opensans-regular';
  src: url('../fonts/opensans-regular.ttf');
  }
@font-face {
  font-family: 'opensans-semibold';
  src: url('../fonts/openSans-semibold.ttf');
}
@font-face {
  font-family: 'opensans-bold';
  src: url('../fonts/opensans-bold.ttf');
}
 */
/*  common css start here */

.fw-600{font-weight: 600; }
.fw-700{font-weight: 600; }
/*  common css end here */

.full{width:100%;display:inline-block;position:relative}
.header{background: #f3f3f3;padding: 3px 10px;width: 100%;z-index: 99;margin: 0 auto;display: inline-block;box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);}
.nav{width: 100%;display: flex;align-items: center;}
.logo{width: 100%;float: left;}
.logo img{max-width: 80px;width: 100%;padding: 0 !important;margin: 0 !important;}
.call-and-whatsapp{color: #333; text-align: right;padding-top: 0;padding-bottom: 0;}
.call-and-whatsapp span{padding-left: 10px;font-size: 14px;}
.call-and-whatsapp span:first-child{padding-left: 0px;}
.call-and-whatsapp span i{line-height: 22px;}
.call-and-whatsapp span a{color:#666;font-size: 16px;}
.call-and-whatsapp span a:hover{text-decoration: none;}
.form-section{height:calc(100vh - 88.75px);overflow:hidden; width:100%;padding:0px 12px 0px 12px; background:url('../img/texture.png')no-repeat top rgba(0, 17, 115, 1);flex-direction: column;display: flex;align-items: center; justify-content: center;}
.form-section.bg-img{background: url(../img/banner.png)no-repeat center right  !important;position: relative;background-size: cover !important;}
.meeting-form{max-width:800px;min-width:800px;width: 100%;display: inline-block; padding: 10px;border-radius: 8px;background: #fff;box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2)}
.meeting-form .form-wrapper{display:flex;flex-wrap:wrap}
/* .meeting-form .form-wrapper > .months-wrapper, .meeting-form .form-wrapper > .slots-wrapper{display:flex;min-width:365px;} */
.meeting-form .form-wrapper{min-height:390px}

.first-step-title{font-weight:600;color:#fff;font-size:26px; margin-bottom:15px;text-align:center;line-height:25px;}
.blue-bg{width: 100%;display: inline-block;background: rgba(0, 17, 115, 1);text-align: center;padding-bottom: 15px}
.blue-bg-color{background: rgba(0, 17, 115, 1);}
#chooseDate{padding:5px 10px}
#chooseDate[readonly]{color: #555;background-color: #fff;border: 1px solid #ccc;}
.blue-bg .user-img{width: 85px;display: inline-block;position: relative;top:-42px;}
.blue-bg .user-img img{width: 65px;height: 65px;display: inline-block;border-radius: 50%;object-fit: cover;object-position: center;}
.blue-bg .calendar{display: inline-block;margin-top: -40px;padding:0 15px;color:#fff !important;width: 100%;}
.blue-bg .calendar h2{font-size: 18px;line-height: 22px;color: #fff;font-weight: 600;}
.schedule{width:100%;display: inline-block;}
/* .schedule .see-full{margin-bottom: 5px;} */
.schedule .field-name{font-size: 16px; font-weight: 600;text-align:center}
.radio-btn{display: flex;justify-content: space-between;position: relative;}
.radio-btn span{display: inline-block;text-align: center;position: relative;}
.radio-btn:after{content: '';position: absolute;left: 53px;top:11px;width: 72%;height: 4px;background: #eee;}
.radio-btn span:last-child:after{display:none}
[type=radio]:checked,[type=radio]:not(:checked){position:absolute;left:-9999px}
[type=radio]:checked+label,[type=radio]:not(:checked)+label{position:relative;padding-left:28px;cursor:pointer;line-height:20px;display:inline-block;color:#666}
[type=radio]:checked+label:before,[type=radio]:not(:checked)+label:before{content: '';position: absolute;left: 0;top: 3px;width: 20px;height: 20px;border: 3px solid #ddd;border-radius: 100%;background: #fff;z-index: 99}
[type=radio]:checked+label:after,[type=radio]:not(:checked)+label:after{content:'';width:10px;height:10px;background:#001173;position:absolute;top:8px;left:5px;border-radius:100%;-webkit-transition:all .2s ease;transition:all .2s ease;z-index: 999}
[type=radio]:not(:checked)+label:after{opacity:0;-webkit-transform:scale(0);transform:scale(0)}
[type=radio]:checked+label:after{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
.radio-btn .time{font-size: 16px;font-weight: 600;font-family: opensans-bold;display: inline-block;padding-top: 5px;width: 100%;position: relative;}
.radio-btn .time:after{content: '';position: absolute;width: 35px;height: 4px;right: 28px;top: -9px;background: white;z-index: 9}
.select-option {width:100%;float:left}
.select-option select {width:100%;float:left;border:1px solid #eee; border-radius:4px; padding:10px}
.slots{width: 100%;float: left;height:245px; }
.slots > .item{height:245px;display:inline-block;width:100%;position:relative;overflow-y: auto; overflow-x:hidden;}
.slots > .item > #viewFreeSlot{position:absolute;left:0;top:0;height:245px;}
.slots .time-slot{width: 100%;float: left;display: flex;align-items: center;justify-content: center; background: #fff;border-radius: 4px;margin-bottom: 8px;border:1px solid #eee;padding:6px 15px;}
.slots .time-slot label{font-size: 14px;font-weight: 600;display: inline-block;padding-top: 3px;}
.schedule .submit-btn input{background:rgba(255, 134, 0, 0.5);display: inline-block;width: 100%; padding: 6px 20px;border-radius: 4px;border:none;font-size: 18px; font-weight: 600;;color:#fff;margin-top:10px;}
.schedule .submit-btn input.active{background:rgba(255, 134, 0, 1);}
.h350, .h350 .item, .h350 #viewFreeSlot{height:280px !important;}
.slot-error-fixed{top: 0!important;padding:3px}
.slot-error-fixed p{position:relative;z-index:999;}
.pt-37{padding-top:37px !important}
/* confirm meeting form css  start here */
#hideTime{font-size:15px;}
.NPD{padding:0 10px 0 0 !important;}
input:focus, textarea:focus, select:focus{outline: none;}
.confirm-meeting-form{max-width: 850px;height:100%;max-height:570px; width: 100%;display: none;float:left;border-radius: 8px; background: #f3f3f3;box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);padding:10px;padding-bottom:0;position:relative;/*overflow-y:auto;overflow-x:hidden; */}
@-moz-document url-prefix() {
  .confirm-meeting-form {
    height:100%;max-height:593px;
  }
}
.no-drop{cursor:no-drop !important;}
.confirm-meeting-form .form-heading{margin-bottom:10px;padding:5px 20px;background:#001173;color:#fff;border-radius:4px;}
.confirm-meeting-form .form-heading h3{margin:0px;}
.confirm-meeting-form .form-heading .fw-600{font-size:14px;text-align:center;margin-bottom:5px}
.confirm-meeting-form .form-heading .fw-600:last-child{margin-bottom:0}
.confirm-meeting-form form{width:100%;float: left;margin-top: 20px}
.confirm-meeting-form .form-fields{width:100%;float: left;padding:0px 5px;}
.confirm-meeting-form .form-fields li{margin-bottom: 3px;}
.confirm-meeting-form .form-fields li:last-child{margin-bottom: 20px;}
.confirm-meeting-form .form-fields li .field{width: 100%;float: left;}
.confirm-meeting-form .form-fields li .field-name{font-weight: 600;;font-size: 13px;display: inline-block;position:relative;color:#001173}
.confirm-meeting-form .form-fields li .field-name sup{position:relative;top:10px;right:0px;color:#ff2121;font-size:16px; }
.confirm-meeting-form .form-fields li .NPD:nth-child(3){padding-right: 0 !important;}
.confirm-meeting-form .form-fields li input:not([type='submit']), .confirm-meeting-form .form-fields li textarea, .confirm-meeting-form .form-fields li select, .confirm-meeting-form .form-fields li .select2{border:2px solid #f3f3f3; width: 100% !important;float: left;padding: 3px 10px;border-radius: 4px;background: #fff;resize: none;font-size:13px;}
.select2-container--default .select2-selection--single{border:0 !important;}
.select2-container--default .select2-selection--single, .select2-selection__arrow, .select2-selection__rendered{height:auto !important;line-height:24px !important}
.select2-container .select2-selection--single{height:auto !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow{top:14px !important;}
.confirm-meeting-form .form-fields li select{height: 34px;}
.confirm-meeting-form .form-fields li input[type="submit"], .confirm-meeting-form .form-fields li selc{display: inline-block;float: left; border:none;border-radius:4px;padding: 8px 20px;color:rgba(255,255,255, 0.5);background:rgba(0, 17, 115, 0.5);font-weight: 600;;}
.confirm-meeting-form .form-fields li input[type="submit"].active{background:rgba(0, 17, 115, 1);color:rgba(255,255,255, 1)}
.confirm-meeting-form .form-fields li input[disabled]{cursor:not-allowed}
.highlight-field{border:2px solid red !important;}
/* #viewFreeSlot{width:100%;float:left;padding:10px;} */
.prev-submt-btn{display: inline-block;margin-top:10px;}
.prev-btn{display: inline-block;float:left;margin-right: 5px; border-radius: 4px;padding: 8px 25px;color: #fff;background:#ff8600;font-weight: 600;}
.prev-btn:hover{color:#fff;background:#001173;}
.prev-btn i{font-size: 22px;padding-right: 5px;}
.center-align-position{width:100%; position:absolute;top:calc(50% - 20px);transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%)}
/* confirm meeting form css  end here */
.error-message{width: 100%;float:left;display:none;}
.error-message.error-height{height:35px;display:block}
.error-message.show-message{display:block;position:relative}
.error-message.show-message p{font-size: 16px;font-weight: 600;color:red;text-align:center; margin-bottom: 0;display: inline-block;width:100%;display: inline-block;margin-bottom: 5px; padding:5px 10px;background: #fff;border-radius: 4px;}
.error-message.error-label{float:none;display: inline-block;}
.error-message.error-label, .error-message.error-label p{width: auto;background: transparent;padding: 0;}
.error-message.server-error{position: relative;margin: 0 auto;text-align: center;}
.error-message.server-error p{font-size: 18px;}
.confirm-meeting-form .error-message.error-label p{font-size: 12px;}
.confirm-meeting-form .server-error p{background: transparent;}
.error-message.ab-error{position:absolute;}
.error-message.show-message{display:inline-block;top:0px;}
.error-message.ab-error.show-message{top:-35px;}
/*  footer css start here  */
.footer-style{width: 100%;float:left;background:#1b1b1b;color:#fff;padding:4px 0px !important}
.footer-style p{margin-bottom:0 !important;font-size:12px;}
.whatsapp-icon{float:right;position:absolute;right:20px;top:-10px}
.whatsapp-icon a{background:#fff;padding:9px 30px;font-size:20px;display:inline-block;color:#001173}
.whatsapp-icon a:hover{text-decoration: none}
.whatsapp-icon.fixed-right{position:fixed;right:-45px;top:50%;transform:translateY(-50%);transform:rotate(90deg);border:1px solid #eee}
.book_any_time {position: relative;top: 25px;}
/* footer css end here  */
.datepicker .datepicker-days td, .datepicker .datepicker-days th{width:20px !important;line-height:14px !important;
height:14px !important;padding:6px 4px !important}
.datepicker .datepicker-days td.day{color:#404040;font-weight:bold;}
.datepicker .datepicker-days td.disabled{color:#999;font-weight:normal;}
.datepicker .datepicker-days td.active{color:#fff !important;}
/* @media(max-width: 768px){
	.form-section{height: auto;padding: 35px 55px;}
	.radio-btn:after{width: 80%}
	.schedule{margin-top: 25px;}
	.dropdown-menu:before, .dropdown-menu:after{display:none}
} */
.shake{-webkit-animation: shake-animation 1.5s ease infinite; animation: shake-animation 1.5s ease infinite;transform-origin: 50% 50%;}
.emoji{text-align:center;font-size:100px;color:#ff0000;margin-bottom:5px;}
@keyframes shake-animation {
     0% { transform:translate(0,0) }
  10% { transform:translate(5px,0) }
  30% { transform:translate(0,0) }
  50% { transform:translate(5px,0) }
  70% { transform:translate(0,0) }
  80% { transform:translate(5px,0) }
  100% { transform:translate(0,0) }
}
.warning-notes{width:100%;display:inline-block;text-align:center;font-size:18px;background:#ff8600;padding:5px 0px;margin-bottom:50px;color:#fff}

#slotcount{font-size:14px;margin-bottom:4px;}

/* otp process css  */
.otp-process-wrapper{width:100%;display:flex;}
.otp-process-wrapper .flex-item{flex:1;position:relative}
.otp-process-wrapper .flex-item:nth-child(2) .col-md-12, .otp-process-wrapper .flex-item:last-child .col-md-12{padding-right:0 !important}
.otp-process-wrapper .flex-item .otp-message{position:absolute;left:0;bottom:-18px;z-index:1; color:#001173;font-size:12px;line-height:15px;}
.otp-process-wrapper .flex-item .otp-field{width:100%;display:inline-block;position:relative}
.flex-item .send-otp, .flex-item .change-number, .flex-item .verify-otp-btn, .flex-item .verified-number{border-radius: 4px;display:inline-block;border:0;background:#001173;padding:5px 0px;width:70px; color:#fff;position:absolute;right:1px;top:0px;font-size:12px;opacity:1}
.flex-item .change-number.hide-btn{display:none !important}
.flex-item .send-otp.disable-btn{cursor:not-allowed;opacity:0.5;border-radius:4px;}
.otp-process-wrapper .flex-item .otp-field .resend-otp{position:absolute;left:0;bottom:-20px;z-index:1; color:#001173;font-weight:bold;font-size:14px;cursor:pointer}
.otp-process-wrapper .flex-item.otp-field-wrapper{display:none}
.send-otp-message{position:absolute;z-index:99;left:0;right:0;margin:0 auto; bottom:8px;width:97%;background:#001173;color:#fff;text-align:center;padding:10px;font-size:14px;
transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transform: translateY(55px);-webkit-transform: translateY(55px);-ms-transform: translateY(55px);opacity:0;visibility:hidden}
.send-otp-message.show-otp-message{ transform: translateY(0px);-webkit-transform: translateY(0px);-ms-transform: translateY(0px);opacity:1;visibility:visible}

.term-and-condition{margin-top:5px;text-align:left;}
.term-and-condition.highlight-field{padding:20px 5px 5px;}
.term-and-condition .error-label{position:absolute;left:17px;top:10px;}
.term-and-condition-wrapper{display:flex;max-height:55px;overflow-y:auto}
.term-and-condition-wrapper p{font-size:11px;line-height:14px;text-align:justify;text-align-last:center;font-weight:600}
.confirm-meeting-form .form-fields li input.term-checkbox{width:auto !important;display:inline-block;position:relative;top:-4px;}  
.term-and-condition-text{padding-left:5px;}
.term-checkbox:focus{outline:none !important}


.verified-number, .send-otp-message.verified{background:#54da77 !important;color:#fff !important}
.verified-number i{line-height:24px;}
.danger{background:#ff0000}

@media(max-width:800px){
	.meeting-form .form-wrapper > .months-wrapper, .meeting-form .form-wrapper > .slots-wrapper{min-width:inherit}
	.term-and-condition-wrapper{max-height:150px}
	/* .confirm-meeting-form{width:480px !important;overflow-y:auto;overflow-x:hidden;} */
	
}

@media(max-width: 768px){
	/*.term-and-condition .error-label{text}*/
	/*.meeting-form{min-width:inherit}*/
	#slotcount{color:#fff}
	.form-wrapper{background: #001173;border-radius: 4px;padding-bottom:20px;}
	.schedule .field-name{color:#ffa036;text-align:center}
	.schedule .submit-btn input{background:rgba(255, 255, 255, 0.5);color:#001173;}
	.schedule .submit-btn input.active{background:rgba(255, 134, 0, 1);color:#fff}
	.form-section{height: auto;padding: 35px 55px;}
	.radio-btn:after{width: 80%}
	.schedule, .slots{margin-top:0px;}
	.blue-bg .calendar{padding:0px}
	.whatsapp-icon.fixed-right{right:-48px}
	.whatsapp-icon.fixed-right a{padding:6px 30px}
	.form-fields li .NPD:nth-child(2){margin-bottom: 15px;padding-right: 0 !important}
	.meeting-form .form-wrapper{min-height:auto!important}
	.error-message.error-label, .error-message.error-label p{width: 100%;background: transparent;padding: 0;}
	.meeting-form .form-wrapper > .months-wrapper, .meeting-form .form-wrapper > .slots-wrapper{min-width:inherit}
	.confirm-meeting-form .error-label p{text-align:left !important;}
	.error-message.error-label, .error-message.error-label p{display:none}
	.error-message.error-label.show-message, .error-message.error-label.show-message p{display:block}
	
	.confirm-meeting-form{max-height:inherit}
	.otp-process-wrapper{display:inline-block}
	.otp-process-wrapper .flex-item{width:100%;float:left;}
	.form-fields li .NPD:nth-child(2){margin-bottom:5px !important}
	.otp-process-wrapper .flex-item .otp-message, .otp-process-wrapper .flex-item .otp-field .resend-otp{position:relative;bottom:inherit}
	.otp-process-wrapper .flex-item .otp-message{margin-top:5px;}
	.flex-item .send-otp, .flex-item .change-number, .flex-item .verify-otp-btn{right:2px;}
	.send-otp-message{position:fixed;left:0;right:0;bottom:0;background:#fff;color:#001173;z-index:999;}
	.send-otp-message.show-otp-message{bottom:50%; transform: translateY(50%);-webkit-transform: translateY(50%);-ms-transform: translateY(50%);}
	.confirm-meeting-form.otp-overlay:after{content:"";position:fixed;width:100%;height:100%; left:0;right:0;top:0;background:rgba(0, 0, 0, 0.5);z-index:99}
	.otp-process-wrapper .flex-item .col-md-12{padding:0px !important ;}
}

@media(max-width: 600px){
	.radio-btn:after{width: 70%}
	.call-and-whatsapp{padding: 0px;}
	.call-and-whatsapp span{width: 100%;display: inline-block;}
	.meeting-form{min-width:0px;}

}
@media (max-width: 510px){
	.call-and-whatsapp {display: none;}
	.logo {text-align: center;padding:0 !important}
	.logo img{float:none;max-width:110px;}
	.first-step-title{font-size:18px;margin-top:0px;margin-bottom:10px;}
	.warning-notes{font-size: 15px;padding:0px;margin-bottom: 45px;}
	.demo-footer{display:none !important}
}
@media(max-width: 480px){
	.form-section{height: auto;padding: 10px 20px;}
	.radio-btn:after{width: 65%}
	.call-and-whatsapp span a{font-size: 14px;}
	.blue-bg .user-img img{width:55px;height:55px;}
	.schedule .field-name{font-size: 14px;}
	#slotcount{font-size: 13px;}
}
@media(max-width: 420px){
	.form-section{height: auto;padding: 10px 12px;}
	.radio-btn:after{width: 70%}
	.slots .time-slot{padding: 3px 15px;}
	.slots .time-slot label{font-size: 12px;}
	.confirm-meeting-form .form-heading .fw-600{font-size:12px;}
	.confirm-meeting-form{padding: 5px 10px;}
}