/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap'); */
html{}
body{font-weight: 400;color:#090909;font-size: 14px;}
input {outline: 0;}
textarea{font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4, h5, h6{margin: 0;}
ul{padding: 0;list-style: none;}
a, a:hover, a:focus{text-decoration: none;color:#090909;}
.fw-600{font-weight: 600;display: inline-block;}
.text-right{text-align: right;}
/* payment option css */
.payment-opiton-modal{overflow-x:hidden;}
.payment-opiton-modal .modal-lg{width: 85% !important;max-width: 100%;margin: 2rem auto;top:0 !important;}
.payment-opiton-modal .modal-header{display:block !important;}
.payment-option-modal .modal-content .modal-body{margin-top:0 !important;position:relative;padding:15px !important;}
.full{width: 100%;display: inline-block;position: relative;}
.section-heading{font-size: 26px;font-weight: 700;margin-bottom: 15px;padding-bottom: 6px;position: relative;display: inline-block;
color:#090909 !important}
.section-heading:before{content: '';position: absolute;left: 0;top: 100%;width: 25%;height: 5px;background: #ff8600}
.section-heading:after{content: '';position: absolute;right: 0px;top: 100%;width: 70%;height: 5px;background: #ff8600}
.payment-option-wrapper{width:100%;display: flex; flex-wrap: wrap;/* margin: 45px auto; padding: 30px;box-shadow: 0 0 5px 4px rgba(240, 240, 240, 0.3)*/}


.tab-wrapper{width: 100%;display: flex;flex-wrap: wrap;margin-top: 20px;}
.payment-tabs{width: 200px;display: inline-block;}
.payment-tabs ul, .payment-tabs ul li{width: 100% !important;float: left;border:0;display:inline-block !important}
.payment-tabs ul li.tab-item, .payment-tabs .nav-tabs li{width:100% !important}
.payment-tabs ul li .payment-option-itme{display: inline-block;width: 100%; padding: 10px;font-size: 14px;background:#fff; border: 1px solid #ff8600;border-right:0;border-radius: 0; color: #ff8600;cursor: pointer;}
.payment-tabs ul li .payment-option-itme:hover{background:#ecf4ff}
.payment-tabs ul li:last-child{border-bottom: 0 !important;}
.payment-tabs .nav-tabs>li.active> a{background:#ff8600;color:#fff;margin: 0 !important;border:0 !important;}

.payment-option-wrapper .payment-option{width: calc(100% - 200px);padding:0 !important}
.payment-option-wrapper .payment-option .flex-item{border-right:1px solid rgba(233, 233, 233, 0.6);padding:30px;border:1px solid #ff8600;width: 100%;}
.title{font-weight: 700;color:#007ed7;margin-bottom: 15px;display: inline-block;}
.payment-option-wrapper .payment-option .flex-item .payment-icon{width: 100%;display: flex;flex-wrap: wrap;align-items: center; margin: 20px 0;}
.payment-option-wrapper .payment-option .flex-item .payment-icon h3{margin:0 !important}
.payment-option-wrapper .payment-option .flex-item .payment-icon.lg{margin-top: 0;}
.payment-option-wrapper .payment-option .flex-item .payment-icon img{width: 100%; max-width: 50px;  display: inline-block;}
.payment-option-wrapper .payment-option .flex-item .payment-icon.lg img{max-width: 150px;margin-top: 0;border:0;}
.payment-option-wrapper .payment-option .flex-item .pay-now-btn {display: inline-block;width:auto;border:2px solid #2d63e2;border-radius:6px; padding: 3px;}
.payment-option-wrapper .payment-option .flex-item .pay-now-btn .btn{display: inline-block;padding:10px 30px;border-radius: 4px; color:#fff;background: #2d63e2;cursor: pointer; margin:0;}

.payment-form{width: 100%;display: inline-block;margin-top: 20px;}
.payment-form form{width: 100%;display: inline-block;} 
.payment-form form > .bmd-form-group{display:none !important}
.payment-form form ul li{width: 100%;display: flex;margin-bottom: 15px;flex-wrap: wrap;} 
.payment-form form ul li .bmd-form-group{width:calc(100% - 200px)}
.payment-form form ul li label{display:flex; padding-right: 20px;width: 200px;}
.payment-form form ul li .upload-btn-wrapper{display:flex;flex-wrap:wrap;flex:1;}
.payment-form form ul li input:not([type="file"]), .payment-form form ul li textarea{resize: none;background:#fff; font-size: 15px; float: left; width:calc(100% - 200px);padding: 8px 12px; max-width: 100%;border:1px solid #e3e3e3;border-radius: 4px;}
.payment-form form ul li .file-btn{position: relative;display: inline-block;width: auto;margin-bottom: 10px;}
.payment-form form ul li .file-btn input[type="file"]{display: inline-block; width: 200px;height: 36px;position: relative;z-index: 1;opacity: 0;cursor: pointer;margin-right: 10px;}
.payment-form form ul li .file-btn .btn{display: inline-block;padding: 9px 12px;background:#407ed7;color:#fff;position: absolute;left: 0;width: 100%;max-width: 200px;text-align: center;margin:0; }
.custom-btn{display: inline-block;width: auto;background:#fff;padding:0; padding-right: 10px;margin-bottom: 10px;}
.custom-btn div{cursor: pointer;}
.custom-btn div a{display:inline-block;padding:2px;background:#407ed7;border-radius:4px}
.custom-btn div i{padding: 8px;background: #fff;color:#407ed7;width: 30px;border-radius: 4px;text-align: center;}
.custom-btn div span{display: inline-block;padding: 0 10px 0 5px;color: #fff;}
.custom-btn div > .tooltip{background:#fff !important}
.ref-no-modal .form{padding: 20px 0;}
.ref-no-modal button:hover, .ref-no-modal button:focus{color:#fff;outline: none}
.payment-option .full p{margin-bottom:0 !important;padding:5px 0 7px !important}
.smoov{width:750px; max-width:100%; border:solid 1px #464646; padding:12px; text-align:center; border-radius:4px;}
.smoov:hover{ background:#f4f4f4; cursor:pointer;}
/* media css start here  */
@media(max-width: 990px){
	.payment-tabs, .payment-option-wrapper .payment-option{width: 100%;}
	.payment-tabs ul li{width: auto;}
	.payment-tabs ul li .payment-option-itme{height: 41px;}
	.payment-tabs ul li:last-child .payment-option-itme{border-right:1px solid #ff8600;}
	.payment-tabs ul li:last-child .payment-option-itme{border-bottom:0;}
}
@media(max-width: 768px){
	.payment-form form ul li label, .payment-form form ul li input:not([type="file"]), .payment-form form ul li textarea{width:100%;}
	.payment-option-wrapper, .payment-option-wrapper .payment-option .flex-item{padding: 10px;}

}
@media(max-width: 480px){
	#payment-opiton-modal .modal-lg{width: 98% !important;}
	.section-heading{font-size: 20px;}
	.payment-option strong{word-break: break-all;}
	.payment-option h3{font-size: 18px;line-height: 22px;}

} 

