*{margin:0;padding:0;}
.p-0{padding:0}
.login-form{border-radius:20px;background-color:#fff;padding:0px; box-shadow:3px 4px 8px #cfcfcf; transition: all 0.3s;margin-top:15px;}
.wrapper-div{width:100%;display:inline-block;position: relative;}
.login-form h2{ font-size:22px; margin:0 auto; padding:10px 0;}
#loginForm{padding:15px 30px ;}
.login-form form{ padding:0px 10px 0 10px;}
.login-form form label{ margin-bottom:0;}
.login-form .form-group{ padding:0 0; margin:0px auto 2px;}
.form-header{background-color:#ff8600;color:#fff;text-align:center;padding:5px 0; border-radius:20px 20px 0 0;}
.logo img{width:100%;max-width:150px;margin:0 auto}
.k8-formgroup{position:relative}
.k8-formgroup label{color:#001173;font-weight: 600;font-size: 12px;}
.k8-formgroup .icon{position:absolute;right:0;top:0;}
.k8-formgroup .form-control{height: 20px;font-size: 13px;padding:0 5px;}
.captcha-img{position:absolute;right:28px;top:11px;}
.captcha-img img{width:100%;max-width:85px;height:28px;}
.referesh-captch{background: #001173;right: -28px !important;width: 28px;height: 28px;text-align:center}
.referesh-captch a{line-height:28px;color:#fff}
.referesh-captch a:hover{color:#fff}
.cstm-btn{ background:#001173;}
.cstm-btn:hover{ background:#ff8600;}
.cstm-btn:focus, .cstm-btn:active{ background:#001173 !important;}

.active-independence-day-theme .login-form{margin-top:95px;}
.active-independence-day-theme.k8-signup-independence-day-bg{background:url(../images/independence-bg.png) center center !important;background-repeat:no-repeat !important;background-size:cover !important}
.independence-text-img{width:100%;display:inline-block;margin-bottom:15px;display:none}
.active-independence-day-theme .independence-text-img{display:inline-block}
.independence-text-img img{display:inline-block;width:50%;}
.independence-theme{color:#001173 !important}
.k8-signup.common-banner{height:100vh; width:100%; 
	background:url(../images/student-bg.jpg) center center; 
 	padding:0px 0;  background-size:cover; display:flex;align-items:flex-start}
.k8-signup.new-year-banner, .teacher-signup.new-year-banner{height:100vh;width:100%; 
	background:url(../images/new-year-2025-bg.jpg) center center; 
 	padding:0px 0;  background-size:cover; display:flex;align-items:flex-start;position: relative;}
.k8-signup.new-year-banner .signup-right, .teacher-signup.new-year-banner .signup-right{background: rgba(255, 255, 255, 0.9);border-bottom-left-radius: 7px;border-bottom-right-radius: 7px;max-width: 235px;width: 100%;margin: 0 auto;}

.k8-signup.gandhi-jyanti-banner{height:100vh; width:100%; 
	background:url(../images/gandhi-jyanti-banner.png) center center;
 	padding:0px 0;  background-size:cover; display:flex;align-items:flex-start}
 	
 .k8-signup.diwali-banner{height:100vh; width:100%; 
	background:url(../images/diwali-bg.png) center center;
 	padding:0px 0;  background-size:cover; display:flex;align-items:flex-start}
 	

 
 .k8-signup.xmas{height:100vh; width:100%; 
	background:url(../images/christmas-login-background.png) top center;
 	padding:0px 0;  background-size:cover; }	

.vh100{height:100vh}
.new-year-img{width:100%;display:inline-block;}
.new-year-img img{max-width:300px;width:100%;display:inline-block} 
.k8-signup .signup-right{ text-align:center; /*padding:20px 0;margin-top:-105px;*/}
.k8-signup .signup-right .top-img, .k8-signup .signup-right .mid-img{display:inline-block;margin-bottom:15px;width:100%;}
.desktop-view{width:100%;display:inline-block}
.mob-view{display:none;width:100%;}
.mob-view .left-view, .mob-view .right-view{display:inline-block}{display:inline-block}
.mob-view .left-view img{margin-bottom:15px !important;}
.mob-view .right-view img{margin-top:-150px  !important;}
.k8-signup .signup-right hr{ height:1px; background:#ff8600;}
.k8-signup .signup-right h1{ color:#001173; font-size:32px; font-weight:bold}
.k8-signup .signup-right h2{ color:#ff8600; font-size:28px; font-weight:bold}
.k8-signup .signup-right h3{ color:#001173;}
.k8-signup .signup-right h4{ color:#001173; font-size:22px; font-weight:bold}
.k8-signup .signup-right p{ font-weight:500;}
.k8-signup .signup-right p a{ background:#ff8600; padding:12px 18px; color:#ffffff; font-weight:normal; border-radius:5px; transition:all 0.2s;}
.k8-signup .signup-right p a:hover{ background:#001173;}
.k8-signup .signup-right img{ text-align:center; margin:0 auto;}
.girl-img{position:relative;display:inline-block;height:99vh;width:100%;}
.girl-img img{position:absolute;right:0;bottom:-7px;}
.new-year img{position:relative;right:0;top:0;width:100%;display:inline-block}
.teacher-signup{width:100%; background:url(../images/teacher-bg.jpg) center center;/*background:url(../images/new-year-bg.jpg) center center !important;*/padding:0px 0; background-size:cover !important;}
.teacher-signup .signup-right{ text-align:center; padding:20px 0;}
.teacher-signup .signup-right hr{ height:1px; background:#ff8600;}
.teacher-signup .signup-right h1{ color:#001173; font-size:32px; font-weight:bold}
.teacher-signup .signup-right h2{ color:#ff8600; font-size:28px; font-weight:bold}
.teacher-signup .signup-right h3{ color:#001173;}
.teacher-signup .signup-right h4{ color:#001173; font-size:22px; font-weight:bold}
.teacher-signup .signup-right p{ font-weight:500;}
.teacher-signup .signup-right p a{ background:#ff8600; padding:12px 18px; color:#ffffff; font-weight:normal; border-radius:5px; transition:all 0.2s;}
.teacher-signup .signup-right p a:hover{ background:#001173;}
.teacher-signup .signup-right img{ text-align:center; margin:0 auto;}
.align-items-center{justify-content: center;}
.btm-txt{ margin:8px auto;}

.k8-theme-bg{background:#ff8600 !important;color:#fff}
.k8-theme-bg [data-dismiss]{opacity:1 !important}
.k8-theme-bg-alt{background:#001173 !important;color:#fff}
.k8-theme-text-alt{color:#ff8600}
.k8-theme-text-alt{color:#001173}
.terms{font-size: 12px;color:#545454;margin-bottom: 0;}
.agree ol{padding-left:25px;}
a{color: #ff8600}

.show-on-mob{display:none}
.login-marquee{position: absolute;left:0;top:0;background-color: #fff !important;width: 100%;height: 21px;z-index: 9;}
.login-marquee .see-full[style]{padding-top: 0 !important;}
#messageDiv{margin-top:22px;}
/*.form-top{margin-top:60px;}*/

/*Error Message color:red;*/
.error{font-size:12px;margin-bottom:0;color:red;line-height:18px;}
.server-error p{margin-top:10px;font-size:16px;text-align:center;color:red;font-weight:600;}
/*Error Message*/

/*responsive*/
@media (min-width: 992px){
	.container {
	    width: 1200px !important;
	    max-width:100%;
	}
}
@media (min-width: 992px){
	.container {
	    width: 1100px;
	}
}
@media only screen and (max-width: 1200px) {
	.captcha-img{top:11px;}
	
}
@media only screen and (max-width: 990px) {
	.k8-signup.new-year-banner .signup-right, .teacher-signup.new-year-banner .signup-right{
		background: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
	}
	.k8-signup{height:auto}
	.fixed-height-desktop {max-height: none;padding-right:0px;margin-top:0px;}
	 .desktop-view, .hide-on-tab{display:none}
	
	 .mob-view{display: flex;align-items: flex-end;margin-bottom:15px}
	 .k8-signup.new-year-banner .mob-view .left-view, .teacher-signup.new-year-banner .mob-view .left-view{background: rgba(255, 255, 255, 0.9);
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		max-width: 235px;
		width: 100%;
		margin: 0 auto;padding: 15px;}
	 .mob-view .left-view{/*margin-bottom:45px;*/margin-bottom:0px;padding-right:10px;}
	 .mob-view .right-view img{margin-top:0px !important;}
	 .mob-view .right-view img{max-width:auto !important;width:auto}
	.k8-signup .signup-right .mid-img{margin-bottom:0}
	.login-form{margin:0 !important;padding-bottom:15px;}
	.k8-signup.vh100{height:auto;}
}
@media only screen and (max-width: 768px) {
	.k8-signup-independence-day-bg{background-repeat: no-repeat !important;}
	.active-independence-day-theme .login-form{margin-top:0}
	.independence-text-img img{width:175px;}
	.k8-signup.gandhi-jyanti-banner{background-position: inherit;}
	.k8-signup{padding-bottom:15px !important;}
	.p-0.tab-p-2, .tab-p-2{padding:15px !important;padding-bottom:0 !important}
	.mb-0-tab{margin-bottom:0 !important}
	.teacher-signup{padding:0px 0px 15px 0px !important;}
	.back-to-home{font-size: 12px;min-width: 115px;padding: 3px 6px;}
}

@media only screen and (max-width: 680px) {
	.new-year-img img{max-width:200px;}
	.container{width:100%;max-width:600px;}
	
}
@media only screen and (max-width: 480px) {
	.independence-text-img{margin-bottom:0}
	.hide-on-mob, .hide-element-mobile .fixed-button{display:none}
	.show-on-mob{display:inline-block}
	.full-on-mob{width:100%;float:left}
	/* .k8-signup .signup-right > img{display:none; } */
	.k8-signup .signup-right > a > img{margin-top:15px;} 
	.mobile-view-learn{font-size:52px;width:100%;display:inline-block}
	.k8-signup{padding-bottom:30px;height:auto}
	.k8-signup .signup-right{ margin-top:0px;}
}
@media only screen and (max-width: 350px) {
	.back-to-home{font-size:12px;padding:3px 8px;min-width:115px;}
	.back-to-home i{display:none}
	
}