/user.jpg
/user.png
/visa.png
/western_union.png
/withdrawn-course.png
/xmas-bg.jpg
/xmas-bg.png
/xmas-bg1.jpg
*.jpg
/11.pdf
/HdfcLogo.svg
/IS-Transcript-logo.png
/address.png
/amex.png
/bg-logo-old.png
/blog.png
/boy.png
/broken-card.png
/count-down-new.gif
/count-down-old.gif
/count-down.gif
/course-selection-img.png
/credit-card.png
/diary_back_cover.png
/diary_cover.png
/discover.png
/diwali-kids.png
/failed.png
/fnt-img1.png
/girlf-for-sms-page.png
/independence-text-img.png
/logo-is.png
/logo_fav.png
/manual.png
/mastercard.png
/mis-letter-head.png
/new-year-bg.png
/new-year-text-2023.png
/new-year-text-2024.png
/new-year.png
/parent.png
/pdf.pdf
/select_arrow.gif
/signature_renuka.png
/signup_form.png
/signup_form1.png
/signup_form2.png
/singnature.png
/space.png
/stamp-new.png
/step-3-active.png
/student_id_card.png
